.alert {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-align: left;
  gap: 10px;
  padding: 20px;
  border-radius: 3px;
  will-change: transform opacity;
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease 0.1s;
}
.alert span {
  font-size: 1.4rem;
  margin-bottom: -6px;
}
.alert:has(.alert__dismiss) {
  padding: 20px 40px;
}
.alert .alert__dismiss {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  padding: 3px;
  font-size: small;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.alert .alert__dismiss:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.alert[data-dismiss="true"] {
  transform: translateX(-100%);
  /* transform: scale(0.5); */
  opacity: 0;
}
