main {
  text-align: center;
}
main > button {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color);
}
.page1,
.page2 {
  min-height: 100vh;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: center;
}
.page1 {
  position: relative;
  display: grid;
  place-content: center;
  background-image: url("/public/background1.svg");
  background-size: cover;
}
.page2 {
  background-image: url("/public/background2.svg");
  background-size: cover;
}

.page1 h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: var(--fw-light);
}

.page1 p:nth-child(2) {
  font-size: 2.5rem;
  margin: 0;
  font-weight: var(--fw-ulight);
}
.page1 p:nth-child(3) {
  font-size: 1.2rem;
  font-weight: var(--fw-light);
  color: var(--secondary-text-color);
}
.page1 > div button {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: white;
  padding: 20px;
  font-size: medium;
  margin-inline: 10px;
  margin-top: 40px;
}

.page1 > button {
  position: absolute;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  padding: 20px;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  cursor: pointer;
  animation: jump 0.6s ease-in-out infinite alternate;
}

.page2 {
  display: grid;
  place-content: center;
}

main button:hover {
  color: var(--secondary-text-color);
  transition: all 0.2s ease;
}

@keyframes jump {
  100% {
    transform: translate(-50%, -70%);
  }
}
