.docs__preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.docs__main {
  max-width: 80%;
}
.docs__description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: medium;
}
.docs__preview {
  margin-block: 30px;
}
@media(max-width:1000px){
  .docs__main{
    max-width: 100%;
  }
}