.card {
  position: relative;
  width: 16rem;
  border-radius: 4px;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.card > p,
.card > h1,
.card > button {
  margin: 10px;
}
.card svg {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.card svg:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.card[data-dismiss="true"] {
  opacity: 0;
  transform: scale(0.3);
}
